<header>
    <div class="title">
        <p class="fw-bolder">Login or <a href="url">Signup</a></p>
    </div>
</header>

<body>
    <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control" />
        <label mdbLabel class="form-label" for="form1">Account</label>
      </mdb-form-control>
    
      <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control" />
        <label mdbLabel class="form-label" for="form1">Password</label>
      </mdb-form-control>
</body>

  <footer>
    <button type="button" class="btn btn-outline-primary" style="margin-top: 10px; float: right;">
        Primary
      </button>
      <div class="forgot-password">
        <p class="fst-italic"><a href="url">forgot password ?</a></p>
      </div>
  </footer>
 